/* Styles for the TRMNL New Tab Display */

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-container {
    /* width: 100%; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.css-transitions-only-after-page-load * {
   transition: none !important;
}

#image-container img {
    filter: var(--screen-filter, none);
    transition: var(--screen-transition, none);
}

#image-container img:hover {
    filter: var(--screen-hover-filter, none);
}

#trmnl-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    object-fit: contain;
    transition: opacity 0.3s ease-in-out;
}

#loading {
    width: 800px !important;
    height: 480px !important;
}

#error-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.error-box {
    background-color: #222;
    border-radius: 8px;
    padding: 30px;
    max-width: 500px;
    width: 90%;
    text-align: center;
    color: white;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.error-box h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
}

.api-key-input {
    display: flex;
    margin-top: 20px;
}

.api-key-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
}

.api-key-input button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: rgb(248, 101, 75);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.api-key-input button:hover {
    background-color: #ffffff;
    color: rgb(248, 101, 75);
}

#info-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
}

.info-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

#refresh-info {
    margin: 0;
    font-size: 16px;
}

.hidden {
    display: none !important;
}

.eb-garamond-500 {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.inter-600 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.w-\[802px\] {
    width: 802px;
}

.bg-trmnl {
    background-color: var(--ui-bg-color);
}

.dark\:bg-gray-850 {
    background-color: var(--ui-bg-color);
}

.bg-trmnl {
    background-color: var(--ui-bg-color);
}

.dark\:shadow-black {
    --tw-shadow-color: var(--ui-shadow-color);
}